.menu {
  /* add correct code to place the menu correctly.*/
  text-align: center;

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */

  display:flex;
  justify-content:space-around;
  flex-flow: row wrap;

  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: Lucida Calligraphy;
}

h3{
  margin:50px;
  font-family: Lucida Calligraphy;
  color:rgb(255, 0, 0);
  text-align:center;
}